<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
	<meta charset="ISO-8859-1">
	<title>Leave Application Processing System - LAPS</title>
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>
	<div th:fragment="menu" id="menu">

		<nav class="navbar">
			<a th:href="@{/}">Leave Application Processing System</a>
			<a th:href="@{/}">Home</a>
			<div th:if="${session.emType != null}">
				<div th:if="${session.emType == 'manager'}">
					<div class="dropdown">
						<button class="dropbtn"> Manager Menu<i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a th:href="@{/manager/leave}" th:utext="#{manager.subnav.viewApplivation}">View Applications for
								Approval</a>
							<a th:href="@{/manager/list-hist}" th:utext="#{manager.subnav.viewHistory}">View Employee Leave History</a>
							<a th:href="@{/manager/overtime/pending}" th:utext="#{manager.subnav.processCompensation}">Approve/Reject Compensation Claim</a>
						</div>
					</div>
				</div>
				<div th:if="${session.emType == 'admin'}">
					<div class="dropdown">
						<button class="dropbtn"> Admin Menu<i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a th:href="@{/admin/leavetype/list}" th:utext="#{admin.subnav.manageLeaveType}">Manage Leave Types</a>
							<a th:href="@{/admin/employee/list}" th:utext="#{manager.subnav.manageStaff}">Manage Staff</a>
							<a th:href="@{/admin/usertype/list}" th:utext="#{manager.subnav.manageLeaveEntitlement}">Manage Leave
								Entitlement</a>
							<a th:href="@{http://localhost:3000/}">Manage Public Holiday</a>
						</div>
					</div>
				</div>
				<div th:if="${session.emType != null}">
					<div class="dropdown">
						<button class="dropbtn"> Staff Menu<i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content">
							<a th:href="@{/staff/leave/create}" th:utext="#{staff.subnav.submitLeaveApplication}">Submit Leave
								Application</a>
							<a th:href="@{/staff/leave/history}" th:utext="#{staff.subnav.viewPersonalLeaveHistory}">View Personal Leave
								History</a>
							<a th:href="@{/staffovertime/claim}" th:utext="#{staff.subnav.claimCompensation}">Claim Compensation</a>
							<a th:href="@{/staffovertime/history}" th:utext="#{staff.subnav.claimSubmissionHistory}">Overtime Claims History</a>	
						</div>
					</div>
				</div>
				<div class="dropdown" style="float: right;">
					<button class="dropbtn" th:utext="'Hello '+ ${session.emName}">Name<i
							class="fa fa-caret-down"></i></button>
					<div class="dropdown-content">
						<a th:href="@{/logout}">Logout</a>
					</div>
				</div>
			</div>
<!--			<div th:unless="${session.emType != null}">
				<a th:href="@{/login}" style="float: right;">Login</a>
			</div>-->
	</div>
	<div th:fragment="header" id="header"></div>
</body>

</html>
