<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/> 
	<h3>Edit Employee Page</h3>
	<span th:unless="${#strings.isEmpty(usession)}">
		<h2 th:utext="${session.usession.name}"> Hello </h2>
	</span>
	<form th:object="${employee}" th:action="@{/admin/employee/edit/}+${employee.employeeId}" method="POST">
        <table style="margin-left:auto; margin-right:auto;">
        	<tbody>
        		<tr>
					<td ><span th:text="#{fieldLabel.employeeId}"></span></td>
					<td ><input type="text" th:field="*{employeeId}" readonly="readonly" /></td>
					<td th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.username}"></span></td>
					<td ><input type="text" th:field="*{username}" /></td>
					<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.password}"></span></td>
					<td ><input type="text" th:field="*{password}" /></td>
					<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.name}"></span></td>
					<td ><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.managedBy}"></span></td>
					<td >
						<select class="form-control" th:field="*{managedBy}">
							<option selected="selected" th:value=null></option>
							<option th:each="manager : ${eManagerList}" th:value="${manager}" th:text="${manager}">
							</option>
						</select >
					</td>
					<td th:if="${#fields.hasErrors('managedBy')}" th:errors="*{managedBy}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.usertype}"></span></td>
					<td >
						<select class="form-control" th:field="*{usertype}">
							<option th:each="type : ${usertypes}" th:value="${type.typeId}" th:text="${type.type}">
							</option>
						</select >
					</td>
					<td th:if="${#fields.hasErrors('usertype')}" th:errors="*{usertype}"></td>
				</tr>
				<tr>
					<td ><span th:text="#{fieldLabel.email}"></span></td>
					<td ><input type="text" th:field="*{email}" /></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
				</tr>
				<tr>
				    <td></td>
					<td><input type="submit" value="Update" style="float:center"/></td>
					<td></td>
				</tr>
			</tbody>
		</table>	
	</form>

</body>

</html>