<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<h1>Leave Application</h1>
	<form th:action="@{/staff/leave/create}" th:object="${leave}" method="post">
		<table>
			<tr>
				<td>Leave Type</td>
				<td>
					<select class="form-control" th:field="*{leavetype}">
						<option th:each="type : ${leavetypes}" th:value="${type.leaveTypeId}"
							th:text="${type.description}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Start Date</td>
				<td><input type="text" th:field="*{dateFrom}" placeholder="YYYY-MM-DD"/></td>
				<td th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></td>
			</tr>
			<tr>
				<td>End Date</td>
				<td><input type="text" th:field="*{dateTo}" placeholder="YYYY-MM-DD"/></td>
				<td th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></td>
			</tr>
			<tr>
				<td>Reason</td>
				<td>
					<textarea th:field="*{reason}"
					rows="2" cols="50"></textarea>
				</td>
				<td th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td>Work Dissemination & Contact Detail</td>
				<td>
				<textarea th:field="*{memo}" placeholder="Enter work dissemination and contact details (if staff is going overseas)"
					rows="8" cols="50"></textarea>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"/></td>
				<td><input type="reset" value="Reset"/></td>
			</tr>
		</table>
	</form>
</body>