<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/> 
	<h3>New Leave Type Page</h3>
	<form action="#" th:action="@{'/admin/leavetype/create'}" th:object="${leavetype}" method="post">
		<table>
			<tbody>
				<tr>
					<td><input type="text" th:placeholder="#{fieldLabel.leavetype}" th:field="*{type}" /></td>
				</tr>
				<tr>
					<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></td>
				</tr>
				<tr>
					<td><input type="text" th:placeholder="#{fieldLabel.description}" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Create" style="float:left"/>
					<input type="button" value="Cancel" style="float:right" onclick="history.back(-1)"></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>