<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/manager.css}"
	href="../../static/css/manager.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Manager Approval Page</title>
</head>
<body>
	<header th:insert="fragments/layout.html :: menu"></header>
	<h2 class="pt-3 pb-3">Manager Approval Page</h2>

	<div class="container mt-4 mb-3 text-right" style="margin-left: 150px;">
		<h3 class="pb-3">Leave Pending for Approval</h3>
		<table class="mt-4 ">
			<tr>
				<th align="right"><span th:text="#{fieldLabel.reference}">Reference</span></th>
				<td th:text="${leave.leaveId}" style="padding-left: 50px;">Leave Id</td>
			</tr>
			<tr>
				<th align="right"><span th:text="fieldLabel.name">Name</span></th>
				<td colspan="3" th:text="${leave.employee.name}" style="padding-left: 50px;">Name</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.email}">Email</span></th>
				<td colspan="3" th:text="${leave.employee.email}" style="padding-left: 50px;">Email</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.startDate}">Start Date</span></th>
				<td th:text="${leave.dateFrom}" style="padding-left: 50px;">From Date</td>
				
				<th align="right"><span th:text="#{fieldLabel.endDate}" style="margin-left: 50px;">End Date</span></th>
				<td th:text="${leave.dateTo}" style="padding-left: 50px;">To Date</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.reason}">Reasons</span></th>
				<td th:text="${leave.reason}" style="padding-left: 50px;">Reasons</td>
				
				<th align="right"><span th:text="#{fieldLabel.memo}">Memo</span></th>
				<td th:if="${leave.memo}" style="padding-left: 50px;">Memo</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.leaveType}">Leave Type</span></th>
				<td colspan="3" th:text="${leave.leavetype.type}" style="padding-left: 50px;">Leave Type</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.leaveTime}">Duration</span></th>
				<td colspan="3" th:text="${leave.leaveTime}" style="padding-left: 50px;">Duration</td>
			</tr>
			<tr>
				<th align="right"><span th:text="#{fieldLabel.status}">Status</span></th>
				<td colspan="3" th:text="${leave.status}" style="padding-left: 50px;">Status</td>
			</tr>
		</table>

		<form action="#"
			th:action="@{/manager/leave/update/}+${leave.leaveId}"
			th:object="${approve}" method="post">
			<table>
				<tr>
					<td>
						<fieldset>
							<input type="radio" th:name="decision" th:value="APPROVED" />
							<label th:text="#{caption.approve}"></label>
							<input type="radio" th:name="decision" th:value="REJECTED" /> 
							<label th:text="#{caption.reject}"></label>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td><fieldset>
							<span th:text="#{fieldLabel.managerComment}">Manager Comment</span> <br>
							<textarea rows="4" cols="60" th:name="comment"></textarea>
						</fieldset></td>
				</tr>
				<tr>
					<td>
						<div class="w3-container">
	  						<button onclick="document.getElementById('id01').style.display='block'" >Update</button>
	  						<div id="id01" class="w3-modal">
	    							<div class="w3-modal-content">
	      							<div class="w3-container">
	        							<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
	        							<p>Confirm changes to the leave application?</p>
	        							<fieldset>
	      									<input th:type="submit" th:value="Update" class="blcass"/>
	        							</fieldset>
	      							</div>
	    						</div>
	  						</div>
						</div>
					</td>
				</tr>
			</table>
	
		</form>
	</div>
</body>
</html>