<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />

	<h3 style=font-size:25px>Welcome to Leave Application Process System</h3>
	<h2>Frequently-used function</h2>

	<div class="leaves-bal">
		<div th:if="${session.emType == 'manager'}">
			<a class="aw" th:href="@{/manager/leave}" th:utext="#{manager.subnav.viewApplivation}">View Applications for
				Approval</a><br>
			<a class="aw" th:href="@{/manager/overtime/pending}"
				th:utext="#{manager.subnav.processCompensation}">Approve/Reject Compensation Claim</a><br>
			<a class="aw" th:href="@{/staffovertime/claim}" th:utext="#{staff.subnav.claimCompensation}">Claim
				Compensation</a><br>
		</div>

		<div th:if="${session.emType == 'admin'}">
			<a class="aw" th:href="@{/admin/employee/list}" th:utext="#{manager.subnav.manageStaff}">Manage
				Staff</a><br>
			<a class="aw" th:href="@{/staffovertime/claim}" th:utext="#{staff.subnav.claimCompensation}">Claim
				Compensation</a><br>
		</div>

		<div th:if="${session.emType == 'staff'}">
			<a class="aw" th:href="@{/staffovertime/claim}" th:utext="#{staff.subnav.claimCompensation}">Claim
				Compensation</a><br>
			<a class="aw" th:href="@{/staff/leave/create}" th:utext="#{staff.subnav.submitLeaveApplication}">Submit
				Leave
				Application</a><br>
		</div>
		
	</div>

	<div class="leaves-bal">
		<h2>Leave Balance</h2>
		<div>
			<table>
				<tr>
					<th>Annual Leave Balance</th>
					<td th:utext="${session.emObj.leaveAnnualLeft}"></td>
				</tr>
				<tr>
					<th>Medical Leave Balance</th>
					<td th:utext="${session.emObj.leaveMedicalLeft}"></td>
				</tr>
				<tr>
					<th>Overtime Hours</th>
					<td th:utext="${session.emObj.otHours}"></td>
				</tr>
			</table>
		</div>
	</div>

	<style>
		.leaves-bal {
			margin-top: 5%;
		}

		.aw:link,
		.aw:visited {
			color: #696969;
			padding: 14px 25px;
			font-size:16px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}

		.aw:hover,
		.aw:active {
			background-color: #DCDCDC;
		}
	</style>
</body>

</html>
