<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head" />

<body>
	<div th:replace="fragments/layout.html :: menu" />
	<div th:replace="fragments/layout.html :: header" />

	<h2>Welcome to Leave Application Process System</h2>

	<p th:text="#{welcome.commonFunction}">Frequently-used function</p>

	<div class="dropdown">
		<div th:if="${session.emType == 'manager'}">
			<a th:href="@{/manager/leave}" th:utext="#{manager.subnav.viewApplivation}">View Applications for
				Approval</a>
			<a th:href="@{/}" th:utext="#{manager.subnav.processCompensation}">Approve/Reject Compensation Claim</a>
			<a th:href="@{/}" th:utext="#{staff.subnav.claimCompensation}">Claim Compensation</a>
		</div>

		<div th:if="${session.emType == 'admin'}">
			<a th:href="@{/admin/employee/list}" th:utext="#{manager.subnav.manageStaff}">Manage Staff</a>
			<a th:href="@{/}" th:utext="#{staff.subnav.claimCompensation}">Claim Compensation</a>
		</div>

		<div th:if="${session.emType == 'staff'}">
			<a th:href="@{/}" th:utext="#{staff.subnav.claimCompensation}">Claim Compensation</a>
			<a th:href="@{/}" th:utext="#{staff.subnav.submitLeaveApplication}">Submit Leave Application</a>
		</div>
	</div  >
</body>

</html>